{{define "footer"}}
    <footer class="site-footer">
        <div class="container">© 2025 Ydays</div>
    </footer>

    <section class="contact-banner">
        <div class="container">
            <div class="contact-item">Téléphone : <a href="tel:+330700000000">+33 07 83 42 78 00</a></div>
            <div class="contact-item">Email : <a href="mailto:modulspace@gmail.com">modulspace@gmail.com</a></div>
            <div class="contact-item">Adresse : 19 rue Haddock, 77700 Chessy. </div>
        </div>
    </section>

</body>
</html>
{{end}}
